<div id="signup-form">
  <div id="mc_embed_signup">
    <form action="//lfla.us10.list-manage.com/subscribe/post?u=2e81b3f7737647ae4fdcea86f&amp;id=ca035b0a11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll" class="row">
        <div class="desktop-12 tablet-hide mobile-hide"><label for="mce-EMAIL">Join the Library Store Email List</label></div>
        <div class="desktop-hide tablet-6 mobile-3"><label for="mce-EMAIL">Join LFLA Email List</label></div>
        <div class="desktop-6 tablet-6 mobile-3">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        </div>
        <div class="desktop-6 tablet-6 mobile-3">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button">
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_2e81b3f7737647ae4fdcea86f_ca035b0a11" tabindex="-1" value=""></div>
        </div>
      </div>
    </form>
  </div>
</div>
