<div id="search-footer" class="gridlock" style="display:none;">
  <a href="#" class="close"><i class="ss-icon ss-gizmo">close</i></a>
  <div class="table">
    <div class="cell">
      <div class="row">
        <div class="desktop-12">
          <form class="search" action="/search">
            <fieldset>
              <label for="search">Search:</label>
              <br>
              <input type="text" name="q" placeholder="Tote bag, mug, etc." id="search" class="search_box"  value="" />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>